<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 sessions_form">
      <h1 class="text-center login-title"><%= t('.login') %></h1>
      <div class="account-wall">
        <%= image_tag 'default.png', class: "profile-img" %>

        <%= form_with(scope: :session, url: sessions_path, local: true, class: "form-signin") do |f| %>
            <%= f.email_field :email, class: "form-control", placeholder: "Email"  %>
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
            <%= f.submit t('.login'), class: "btn btn-lg btn-primary btn-block" %>
        <% end %>
      </div>
    </div>
  </div>
</div>