<%= form_with(model: translation, local:true ) do |form| %>
  <% if translation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(translation.errors.count, "error") %> <%= t('.reject_save') %></h2>
      <ul>
      <% translation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="new_post_box">
    <%= t('.original') %> :<br/>
    <span><%= @translation.sentence.content %></span>
    <div class="field">
      <%= form.label t('.translation') %> :<br/>
      <%= form.text_area :content %>
    </div>
    <div class="field">
      <%= form.hidden_field :sentence_id, valuse: translation.sentence_id %>
    </div>
    <br/> 
    <div class="actions">
      <%= form.submit t('.submit') %>
    </div>
  </div>
<% end %>