<h1 id="top_title"><%= t('.new_post') %></h1>
<%= form_with(model:Translation.new, url: translations_path, method: :get, local: true, class: 'translation_search') do |f| %>
  <div class="text-center ">
    <%= f.text_field :search_translation, size: "40", placeholder: t('.search_by_translation') %>
    <%= f.submit t('.search'), class: "btn btn-default" %>
  </div>
<% end %>

<div class='index_container'>
　<h3><%= link_to '早速翻訳を投稿しよう！', books_path %></h3>
  <% @translations.each do |translation| %>
    <div class="row">
      <div class="col-xs-12col-sm-10 col-md-6 base-box">
        <span><span class="glyphicon glyphicon-user"></span>&nbsp; <strong><%= link_to(translation.user.name, user_path(translation.user.id)) %></strong></span><br/> 
        <span><%= t('.original') %>: <%= translation.sentence.content %></span><br/> 
        <span><%= t('.translation') %>: <%= translation.content %></span><br/> 
        <span><%= translation.user_translation_favorites.size %>&nbsp;<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></span>
        <span><%= translation.user_translation_comments.size %>&nbsp;<span class="glyphicon glyphicon-comment"></span></span>
        <span><%= link_to t('.show'), translation_path(translation.id) %></span>
      </div>
    </div>
  <% end %>
  <div class="cf"></div>
</div>
<br>
<div id="pagenaton"><%= paginate @translations %></div>
