<div class="translation_show_container col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
  <%# タイトル %>
  <div id="title_container">
    <strong><span class="glyphicon glyphicon-user"></span>&nbsp;<%= link_to(@translation.user.name, user_path(@translation.user.id)) %></strong>
    <span>
      <%= @translation.user.locales[0].name %>→
      <%= @translation.user.locales[1].name %>
      ( <%= @translation.user.user_locale_statuses[1].wanted_level %> )
    </span>
    <br/>
    <span id="title"><%= t('.title') %> <%= link_to(@translation.sentence.book.title, book_path(@translation.sentence.book.id)) %></span><br/>
    <span><%= t('.author') %> <%= @translation.sentence.book.author %></span>
  </div>

  <%# メイン %>
  <div id="container">
    <div id="main_container">
      <strong><%= t('.original') %></strong>
      <p><%= @translation.sentence.content %></p>
      <strong><%= t('.translation') %></strong>
      <p><%= @translation.content %></p>
    </div>
    <div id='like_container'>
      <span><%= @translation.user_translation_favorites.count %>LIKE</span>
      <% unless @translation.user_id == current_user.id %>
        <% if @favorite.present? %>
          <%= link_to 'Remove Like', translation_user_translation_favorite_path(@translation.id, @favorite.id), method: :delete %>
        <% else %>
          <%= link_to 'Like!', translation_user_translation_favorites_path(translation_id: @translation.id), method: :post %>
        <% end %>
      <% end %>
    </div>
    <div id='edit_container'>
      <span><%= link_to t('.edit') , edit_translation_path(@translation.id) if @translation.user_id == current_user.id %></span> 
      <span><%= link_to t('.destroy'), translation_path(@translation.id), method: :delete, data: { confirm: t('.confirm') } if @translation.user_id == current_user.id %></span>
    </div>
  </div>

  <%# コメント %>
  <div id='comment_container'>
    <div class="send_container">
      <div>
        <%= render partial: 'user_translation_comments/form', locals: { comment: @comment, translation: @translation } %>
      </div>
    </div>
    <div class="comments_show_container", id="user_translation_comments_area">
      <%= render partial: 'user_translation_comments/index', locals: { comments: @comments, translation: @translation } %>
    </div>
  </div>
</div>
