<br /> 
<span><%= @translation.user.name %></span>
<br /> 
<span><%= @translation.user.native %> → <%= @translation.user.language1 %></span>
<br /> 
<span><%= @translation.user.level1 %></span>
<br />
<h3>タイトル: <%= link_to(@translation.sentence.book.title, book_path(@translation.sentence.book.id)) %></h3>
<span>著者: <%= @translation.sentence.book.author %></span>
<br /> 
<br /> 
<br /> 
<strong>原文</strong>
<p><%= @translation.sentence.content %></p>
<strong>翻訳</strong>
<p><%= @translation.content %></p>
<div>
  <span><%= link_to 'Edit', edit_translation_path(@translation.id) %></span> 
  <span><%= link_to 'Destroy', translation_path(@translation.id), method: :delete, data: { confirm: 'Are you sure?' } %></span>
</div>

