<% sentences = @sentences %>

<%= sentence.content %>

<%= link_to(t('.translate'), new_translation_path(sentence_id: sentence.id), class: "btn btn-link", remote: true) %>
<%= link_to(t('.show_translations'), book_sentence_path(sentence.book.id, sentence.id), class: "btn btn-link") %>
<%= link_to(t('.edit'), edit_book_sentence_path(sentence.book.id, sentence.id), class: "btn btn-link") if admin_user? %>
<%= link_to(t('.destroy'), book_sentence_path(sentence.book.id, sentence.id), method: :delete, data: { confirm: t('.confirm') }, class: "btn btn-link") if admin_user? %>

<p id=<%= "this_sentence_#{sentence.id}" %>></p>
