<div class="offset-md-2 col-md-8 my-5">
  <h1><%= link_to((@book.title), book_path(@book.id)) %></h1>
  <p  class="book_status">
    <%= t('.author') %>: <%= @book.author %> ・ 
    <%= t('.issued_date') %>: 
    <% if @book.issued_date.nil? %>
      <%= t('.unknown') %>
    <% else %>
      <%= @book.issued_date.strftime("%Y") %>
    <% end %> ・ 
    <%= t('.difficulty') %>: 
    <% if @book.book_locale_statuses[0].difficulty.nil? %>
      <%= t('.unknown') %>
    <% else %>
      <%= @book.book_locale_statuses[0].difficulty %> 
    <% end %> ・
    <%= t('.locale') %>: <%= @book.book_locale_statuses[0].locale.name %> ・ 
    <% if admin_user? %>
      <%= t('.registration') %>: <%= @book.user[:name] %>
    <% end %>
  </p>

  <strong>原文</strong>
  <p class="mb-5"><%= @sentence.content %></p>


    <% @translations.each do |t| %>
      <div class="card bg-light p-2 h4">
        <div class="card-body">
          <p class="card-title">
            <%= image_tag t.user.icon.url, class:'img-thumbnail', width:"50px" %><span class="ml-4"><%= link_to(t.user.name, user_path(t.user.id)) %></span>
          </p>
          <p class="card-text mt-3"><%= t.content %></p>
          <p class="mt-3">
            <%= t.user_translation_favorites.size %><span class="glyphicon glyphicon-thumbs-up ml-2" aria-hidden="true"></span>
            <%= t.user_translation_comments.size %><span class="glyphicon glyphicon-comment ml-2"></span>
            <span class="ml-3"><%= link_to(t('.show'), translation_path(t.id)) %></span> 
          </p>
        </div>
      </div>
    <% end %>

</div>