<%# 入力エラー表示 %>
<% if @user.errors.any? %>
  <div class="mt-5 offset-md-2 col-md-8">
    <% @user.errors.full_messages.each do |message| %>
      <p class="alert alert-danger"><%= message %></p>
    <% end %>
  </div>
<% end %>


<%# 入力フォーム %>
<div class="signup-form mt-5 offset-lg-4 col-lg-4">
  <%= form_with(model: @user, local: true) do |f| %>
    <h2><%= t('.edit_account') %></h2>
    <hr>

    <div class="form-group">
      <%= f.label "Name", for:'name' %>
      <%= f.text_field :name, class: "form-control", id: "name" %>
    </div>  

    <div class="form-group">
      <%= f.label "Email", for:'email' %>
      <%= f.email_field :email, class: "form-control", id: "email" %>
    </div>   
    
    <div class="form-group">
      <%= f.label "Profile", for:'profile' %>
      <%= f.text_area :profile, rows: "4", id: "profile",class:"col-12" %>
    </div> 

    <div class="form-group">
      <%= f.label "Icon", for:'icon' %>
      <%= f.file_field :icon, id:"icon" %>
    </div>

    <%# 母国語学習言語が増殖する問題を解決して復活させる %>

    <div class="form-group">
      <%= f.label "new_password"%>
      <%= f.password_field :password, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label "Confirm new password" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div> 

    <div class="form-group">
      <%= f.submit "Submit", class: "btn btn-primary btn-block btn-lg" %>
    </div>

  <% end %>
</div>