<h2>Edit account</h2>

<%= form_with(model: @user, local: true) do |f| %>

  <div class="field">
    <%= f.label 'name (Required field)' %><br />
    <%= f.text_field :name %>
  </div>

  <% s = 'Native' %>
  <%= f.fields_for :user_locale_statuses do |form| %>

    <div class="field">
      <%= form.label "#{s}(Required field)" %><br />
      <%= form.collection_select(:locale_id, Locale.all, :id, :name, include_blank: true) %>
    </div>

    <div class="field">
      <%  if s == 'Learnig' %>
        <%= form.label "#{s} Level" %><br />
        <%= form.select(:wanted_level, [['Beginner'], ['Elementary'], ['Intermediate'], ['Advanced'], ['Proficient']], include_blank: true) %>
      <% end %>
    </div>

    <% if s == 'Native' %>
      <%= form.hidden_field :is_native, value: 'true' %>
    <% elsif s == 'Learnig' %>
      <%= form.hidden_field :is_wanted, value: 'true' %>
    <% end %>
    <% s = 'Learnig' %>

  <% end %>
  <div class="field">
    <%= f.label "email(Required field)" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :profile%><br />
    <%= f.text_area :profile %>
  </div>

  <div class="field">
    <%= f.label :icon※要改善  %><br />
    <%= image_tag(@user.icon.url) if @user.icon && @user.icon.url %>
    <%= f.file_field :icon %>
    <%= f.hidden_field :icon_cache %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

