<h1><%= t('.edit_account') %></h1>

<% if @user.errors.any? %>
  <li id="error_explanation">
    <h2><%= pluralize(@user.errors.count, t('.error')) %> <%= t('.reject_save') %></h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </li>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
  <ul>
    <li>
      <%= f.label "Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </li>  


    <li>
      <%= f.label "mail" %>
      <%= f.email_field :email, class: "form-control" %>
    </li>   
    
    <li class="field">
      <%= f.label "Profile" %>
      <%= f.text_area :profile, rows: "4" %>
    </li> 

    <%# ここ作る %>
    <li class="field">
      <%= f.label "Icon" %>
      <%= f.text_field :profile %>
    </li>

    <%# 母国語学習言語が増殖する問題を解決して復活させる %>

    <li>
      <%= f.label "password"%>
      <%= f.password_field :password, class: "form-control" %>
    </li>
    
    <li>
      <%= f.label "password confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </li> 
    <li class="actions"><%= f.submit "Submit", class: "btn btn-default btn-lg" %></li>
  </ul>
<% end %>