<h2>Edit account</h2>

<%= form_with(model: @user, local: true) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= form.fields_for :user_locale_statuses do |form| %>

    <div class="field">
      <%= form.label :locale_id %><br />
      <%= form.select(:locale_id, [[@locales[0].name, @locales[0].id], [@locales[1].name, @locales[1].id], [@locales[2].name, @locales[2].id]]) %>
    </div>
    
    <div class="field">
      <%= form.label :locale_id %><br />
      <%= form.select(:locale_id, [[@locales[0].name, @locales[0].id], [@locales[1].name, @locales[1].id], [@locales[2].name, @locales[2].id]]) %>
    </div>

    <div class="field">
      <%= form.label :wanted_level %><br />
      <%= form.select(:wanted_level, [['Beginner'], ['Elementary'], ['Intermediate'], ['Advanced'], ['Proficient']]) %>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :profile%><br />
    <%= f.text_area :profile %>
  </div>

  <div class="field">
    <%= f.label :icon※要改善  %><br />
    <%= image_tag(@user.icon.url) if @user.icon && @user.icon.url %>
    <%= f.file_field :icon %>
    <%= f.hidden_field :icon_cache %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

