<div class="row">
  <div class="col">
    <h1><%= t('.follow') %></h1>
    <% @followings.each do |user| %>
      <div class="my-3" style="transform: rotate(0);">
        <%= image_tag user.icon.url, class: "rounded", width: '40px' %>
        <%= link_to(user.name, user_path(user.id),class:"stretched-link") %>
        <%= user.locales[0].name %>>→
        <%= user.locales[1].name %>
        (<%= user.user_locale_statuses[1].wanted_level %>)
      </div>
      
    <% end %>
  </div>

  <div class="col">
    <h1><%= t('.follower') %></h1>
    <% @followers.each do |user| %>
      <div class="my-5" style="transform: rotate(0);">
        <%= image_tag user.icon.url, class: "rounded", width: '40px' %>
        <%= link_to(user.name, user_path(user.id),class:"stretched-link") %>
        <%= user.locales[0].name %>→
        <%= user.locales[1].name %>
        (<%= user.user_locale_statuses[1].wanted_level %>)
      </div>
    <% end %>
  </div>
</div>