<%# 入力エラー表示 %>
<% if @user.errors.any? %>
  <div class="mt-5 offset-md-2 col-md-8">
    <% @user.errors.full_messages.each do |message| %>
      <p class="alert alert-danger"><%= message %></p>
    <% end %>
  </div>
<% end %>

<%# 入力フォーム %>
<div class="signup-form mt-5 offset-lg-4 col-lg-4">
  <%= form_with(model: @user, local: true) do |f| %>
    <h2>Sign Up</h2>
    <p>It's free and only takes a minute.</p>
    <hr>

    <div class="form-group">
      <%= f.label "Username", for: "name" %> 
      <%= f.text_field :name, class: "form-control", id: "name"  %>
    </div>

    <%= f.fields_for :user_locale_statuses do |locale| %>
      <div class="form-group">
        <%= locale.label "Navive", for: "is_native" %> 
        <%= locale.collection_select(:locale_id, Locale.all, :id, :name, include_blank: true, class: "form-control", id: "is_native") %>
      </div>
      <%= locale.hidden_field :is_native, value: 'true' %>
    <% end %>

    <%= f.fields_for :user_locale_statuses do |locale| %>
      <div class="form-group">
        <%= locale.label "Learning", for:'is_wanted' %> 
        <%= locale.collection_select(:locale_id, Locale.all, :id, :name, include_blank: true, class: "form-control", id:'is_wanted') %>
      </div>
      
      <div class="form-group">
        <%= locale.label "Level", for: 'is_wanted_level' %> 
        <%= locale.select(:wanted_level, [['Beginner'], ['Elementary'], ['Intermediate'], ['Advanced'], ['Proficient']], include_blank: true, class: "form-control", id:'is_wanted_level') %>
      </div> 
      <%= locale.hidden_field :is_wanted, value: 'true' %>
    <% end %>

    <div class="form-group">
      <%= f.label "Email Address", for: "email" %> 
      <%= f.email_field :email, class: "form-control", id:"email" %>
    </div>

    <div class="form-group">
      <label >Password</label>
      <%= f.label "Password", for: "password" %> 
      <%= f.password_field :password, class: "form-control",id:'password' %>
    </div>

    <div class="form-group">
      <%= f.label "Confirm Password", for: "confirm_password" %> 
      <%= f.password_field :password_confirmation, class: "form-control", id:'confirm_password' %>
    </div>

    <div class="form-group">
      <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-lg" %>
    </div>
  <% end %>
  
  <div class="text-center">Already have an account? <%= link_to('Login here', new_session_path) %></div>
</div>

