<div class="text-center my-5">
  <%= image_tag @user.icon.url, class: "rounded", width: '100px' %>
  <span class="h1 ml-3">
    <%= @user.name %>
    <%= @user.locales[0].name %>→
    <%= @user.locales[1].name %>
    (<%= @user.user_locale_statuses[1].wanted_level %>)
  </span>
  <%= link_to(t('.edit_profile'), edit_user_path(current_user.id), class: "btn btn-info btn-lg ml-4" ) if @user.id == current_user.id || current_user.admin == true %> 
  <div class="offset-md-3 col-md-6 text-left mt-5 h3">
    <p class="font-weight-bold"><%= t('.profile') %></p> 
    <p><%= @user.profile %></p>
  </div>
</div>

<div class="text-center mb-5">
  <%= link_to("フォロー一覧", users_path(user_id: @user, which: 'following'), class: "btn btn-outline-info btn-lg" ) %>
  <%= link_to("フォロワー一覧", users_path(user_id: @user, which: 'followers'), class: "btn btn-outline-info btn-lg ml-5") %>
  <%= render 'follow_form', user: @user unless @user.id == current_user.id %>
</div>

<div class="container offset-md-2 col-md-8  offset-lg-3 col-lg-6">
  <% @translations.each do |t| %>
    <div class="card bg-light p-4 h3 mb-4">
      <div class="card-body">
        <p class="card-title"><p class="glyphicon glyphicon-book"></p><%= link_to(t.sentence.book.title, book_path(t.sentence.book.id), class:'ml-3 h2') %></p>
        <p class="card-text font-weight-bold mt-5"><%= link_to(t('.original'), book_sentence_path(t.sentence.book.id, t.sentence.id)) %>:</p>
        <p class="card-text"><%= t.sentence.content %></p>
        <p class="card-text font-weight-bold mt-5"><%= t('.translation') %>:</p>
        <p class="card-text"><%= t.content %></p>
        <p class="mt-5">
          <%= t.user_translation_favorites.size %><span class="glyphicon glyphicon-thumbs-up ml-2" aria-hidden="true"></span>
          <%= t.user_translation_comments.size %><span class="glyphicon glyphicon-comment ml-2"></span>
          <%= link_to(t('.show'), translation_path(t.id), class:'ml-3') %>
          <%= link_to(t('.edit'), edit_translation_path(t.id), class:'ml-3') if @user.id == current_user.id %>
          <%= link_to(t('.destroy'), translation_path(t.id), method: :delete, data: { confirm: t('.confirm') }, class:'ml-3') if @user.id == current_user.id %>
        </p>
      </div>
    </div>
  <% end %>
</div>

<div id='pagenation'><%= paginate @translations %></div>


