<p><%= image_tag @user.icon.url if @user.icon.url %></p>
<p>
  <%= @user.name %>
  <%= @locales.find(@native[:locale_id])[:name] %>→
  <%= @locales.find(@wanted[:locale_id])[:name] %>
  (<%= @wanted[:wanted_level] %>)
</p>

<strong>自己紹介</strong>
<p><%= @user.profile %></p>

<strong>↓10個の翻訳だけここに表示して、ShoｗAllボタンを押したら全部表示みたいにしたい
・それかページネーション</strong>

<% @translations.each do |t| %>
  <div>
    <%= t.sentence.book.title %><br /> 
    原文: <%= t.sentence.content %><br /> 
    翻訳: <%= t.content %><br /><br />
  </div>
<% end %>