<%= form_with(model: [translation, comment]) do |form| %>

  <%# 入力エラー表示 %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%# 入力フォーム %>
  <div class="field">
    <span id="comment_count"><%= @comments.size %> <%= t('translations.show.comment_size') %></span><br/>
    <%= form.label t('translations.show.comment_area') %>
    <%= form.text_area :content %>
  </div>
  <div class="actions">
    <%= form.submit t('translations.show.submit', class: "btn btn-default pull-right")%>
  </div>
<% end %>