<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li id="comments_show_container">
        <strong><%= link_to(comment.user.name, user_path(comment.user.id)) %></strong>
        <p id=<%= "this_comment_#{comment.id}"%>><%= comment.content %></p>
        <% if comment.user_id == current_user.id %>
          <p>
            <%= link_to t('.edit'), edit_translation_user_translation_comment_path(translation, comment), remote: true %>&nbsp;
            <%= link_to t('.destroy'), translation_user_translation_comment_path( translation.id, comment.id), method: :delete, remote: true, data: { confirm: "本当に削除しますか?"} %>
          </p>
          <div id='comment'></div>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
