<%= form_with(model: book, local: true) do |form| %>
  <% if  book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize( book.errors.count, "error") %> prohibited this  book from being saved:</h2>
      <ul>
      <%  book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field(:title) %>
  </div>

  <div>
    <%= form.label :author %>
    <%= form.text_field(:author) %>
  </div>

  <div>
    <%= form.label :issued_date %>
    <%= form.date_field(:issued_date) %>
  </div>

  <div>
    <%= form.label :difficulty %>
    <%= form.select(:difficulty, [['Unknow', 'Unknow'], ['Beginner', 'Beginner'], ['Intermediate' ,'Intermediate'], ['Advanced' ,'Advanced']]) %>
  </div>

  <div>
    <% if params[:action] == "new" %>
      <%= form.label :locale_id %>
      <%= form.select(:locale_id, [[@locales[0].name, @locales[0].id], [@locales[1].name, @locales[1].id], [@locales[2].name, @locales[2].id]]) %>
    <% end %>
  </div>

  <div>
    <% if params[:action] == "new" %>
      <%= form.label :content %>
      <%= form.text_area :content %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
