<h1 class="text-center my-5"><%= t('.all_book') %></h1>

<%# 検索機能 %>
<% if false %>
  <%# 修正が必要 本の数が増えたら追加する %>
  <%= search_form_for @search,url: books_path do |f| %>
    <%= f.search_field :title_cont, placeholder: t('.title') %>
    <% if false %>
      <%= f.label :book_locale_statuses_locale_id, t('.locale') %>
      <%= f.collection_select :book_locale_statuses_locale_id, Locale.all, :id, :name, include_blank: true %>
    <% end %>
    <%= f.submit t('.search'), class: "btn btn-default" %></div>
  <% end %>
<% end %>


<h2 class="my-5 text-center"><%= link_to t('.create_book'), new_book_path, class: "btn btn-primary btn-lg" if admin_user? %></h2>

<div class="row row-cols-1 row-cols-md-3 mb-5">
  <% @books.each do |book| %>
    <div class="col mb-4">
      <div class="card">
        <a href="books/<%= book.id %>" class="hovereffect">
          <%= image_tag book.image.url, class:"card-img-top", height:"400px" %>
          <div class="overlay">
            <h2>Read Now!</h2>
          </div>
        </a>
        <a href="books/<%= book.id %>" class="card-body">
          <h2 class="card-title"><%= book.title %></h5>
          <p class="card-text ">
            <p><%= book.author %></p>
            <p class="">
              <span class="">
                <% if book.issued_date.present? %>
                  <%= book.issued_date.strftime("%Y") %>
                <% else %>
                  <%= t('.unknown') %>
                <% end %>
              </span>
              
              <span class="ml-3">
                <%= book.book_locale_statuses[0].locale.name %>
              </span>
              
              <span class="ml-3">
                <% if book.book_locale_statuses[0].difficulty.present? %>
                  <%= book.book_locale_statuses[0].difficulty %> 
                <% else %>
                  <%= t('.unknown') %>
                <% end %>
              </span>
            </p>

            <p class="">
              <%= link_to(t('.edit'), edit_book_path(book.id), class: "btn btn-link btn-lg") if admin_user? %>
              <%= link_to(t('.destroy'), book_path(book.id), method: :delete, data: { confirm: t('.are_you_sure') }, class: "btn btn-link btn-lg") if admin_user? %>
            </p>
          </p>
        </a>
      </div>
    </div>
  <% end %>
</div>

<div class="pagenation"><%= paginate @books %></div>


