<h1><%= t('.all') %></h1>

<%= search_form_for @search,url: books_path do |f| %>
  <%= f.label :title_cont, "Title" %>
  <%= f.search_field :title_cont %>
  <%= f.label :book_locale_statuses_locale_id, "locale(未完成)" %>
  <%= f.collection_select :book_locale_statuses_locale_id, Locale.all, :id, :name, include_blank: true %>
  <%= f.submit "検索" %></div>
<% end %>

<h3><%= link_to "Create New Book", new_book_path if admin_user? %></h3>
<br/>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>著者</th>
      <th>刊行年</th>
      <th>レベル</th>
      <th>言語</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td>
          <% if book.issued_date.present? %>
            <%= book.issued_date.strftime("%Y") %>
          <% else %>
            <%= 'Unknow' %>
          <% end %>
        </td>
        <td>
          <% if book.book_locale_statuses[0].difficulty.present? %>
            <%= book.book_locale_statuses[0].difficulty %> 
          <% else %>
            <%= 'Unknow' %>
          <% end %>
        </td>
        <td><%= book.book_locale_statuses[0].locale.name %></td>
        <td><%= link_to('読む', book_path(book.id)) %></td>
        <td><%= link_to('編集', edit_book_path(book.id)) if admin_user? %></td>
        <td><%= link_to('消去', book_path(book.id), method: :delete, data: { confirm: '本を消去すると、紐づいているセンテンス、Userが投降した翻訳などがすべて消えます。それでも消去しますか？' }) if admin_user? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @books %></div>
