<h1>本のタイトル: <%= @book.title %></h1>
<p>
  著者: <%= @book.author %> ・ 
  刊行: <% if @book.issued_date.nil? %>
    Unknow
  <% else %>
    <%= @book.issued_date.strftime("%Y") %>
  <% end %> ・ 
  レベル: <%= @book.book_locale_statuses[0].difficulty %> ・ 
  言語: <%= @book.book_locale_statuses[0].locale.name %> ・ 
  本の登録者: <%= @book.user[:name] %>
</p>

<table>
  <thead>
    <tr>
      <th>センテンス</th>
    </tr>
  </thead>

  <tbody>
    <% @sentences.each do |sentence| %>
      <tr>
        <td><%= sentence.content %></td>
        <td><%= link_to('翻訳', new_translation_path(sentence_id: sentence.id)) %></td>
        <td><%= link_to('編集', edit_book_sentence_path(@book.id, sentence.id)) if admin_user? %></td>
        <td><%= link_to('消去', book_sentence_path(@book.id, sentence.id), method: :delete, data: { confirm: '消去しますか？' }) if admin_user? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div><%= paginate @sentences %></div>
