<!DOCTYPE html>
<html>
  <head>
    <title>Myotto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body>
    <%#=======================
        header
    =========================%>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
        <%= link_to translations_path, class:"navbar-brand" do%>
          <%= image_tag "bee", :size => '40x40' %>
          Myotto
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav h3">
            <% if logged_in?  %>
              <li class="ml-4"><%= link_to t('.all_new_posts'), translations_path, class: "nav-link text-light" %></li>
              <li class="ml-4"><%= link_to t('.all_books'), books_path, class: "nav-link text-light" %></li>
              <li class="ml-4"><%= link_to t('.my_page'), user_path(current_user.id), class: "nav-link text-light" %></li>
              <li class="ml-4"><%= link_to t('.logout'), session_path(current_user.id), method: :delete, class: "nav-link text-light" %></li>
            <% else %>
              <li class="ml-4"><%= link_to t('.create_user'), new_user_path, class: "nav-link text-light" %></li>
              <li class="ml-4"><%= link_to t('.login'), new_session_path, class: "nav-link text-light" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

    <%#=======================
        main
    =========================%>
    <main>
      <div class="notifications">
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key} h2") %>
        <% end %>
      </div>
      <div class="container"> 
        <%= yield %>
      </div>
    </main>
  </body>
</html>
