<!DOCTYPE html>
<html>
  <head>
    <title>Myotto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if logged_in?  %>
        <li><%= link_to t('.all_new_posts'), translations_path %></li>
        <li><%= link_to t('.all_books'), books_path %></li>
        <li><%= link_to t('.my_page'), user_path(current_user.id) %></li>
        <li><%= link_to t('.logout'), session_path(current_user.id), method: :delete %></li>
      <% else %>
        <li><%= link_to t('.create_user'), new_user_path %></li>
        <li><%= link_to t('.login'), new_session_path %></li>
      <% end %>
    </header>
    <main>
      <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <div class="yield_wrap"> 
        <%= yield %>
      </div>
    </main>
  </body>
</html>
