<!DOCTYPE html>
<html>
  <head>
    <title>Myotto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <%= link_to translations_path, class:"navbar-brand" do%>
            <%= image_tag "bee", :size => '55x55' %>
            Myotto
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <% if logged_in?  %>
                <li><%= link_to t('.all_new_posts'), translations_path, class: "nav-link active" %></li>
                <li><%= link_to t('.all_books'), books_path, class: "nav-link active" %></li>
                <li><%= link_to t('.my_page'), user_path(current_user.id), class: "nav-link active" %></li>
                <li><%= link_to t('.logout'), session_path(current_user.id), method: :delete, class: "nav-link active" %></li>
              <% else %>
                <li><%= link_to t('.create_user'), new_user_path, class: "nav-link active" %></li>
                <li><%= link_to t('.login'), new_session_path, class: "nav-link active" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key} alert alert-primary") %>
      <% end %>
      <div class="yield_wrap"> 
        <%= yield %>
      </div>
    </main>
  </body>
</html>
