<!DOCTYPE html>
<html>
  <head>
    <title>Myotto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to t('.all_new_posts'), translations_path %>
    <% if logged_in?  %>
      <%= link_to t('.all_books'), books_path %>
      <%= link_to t('.my_page'), user_path(current_user.id) %>
      <%= link_to t('.logout'), session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to t('.create_user'), new_user_path %>
      <%= link_to t('.login'), new_session_path %>
    <% end %>



    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <%= yield %>
  </body>
</html>
